*{		
	font-family: 'Work Sans', sans-serif;
}

.carousel-inner img{
	width: 100%;
	max-height: 540px;	
}

.carousel-inner{
	background-color: black;
	transition: 0.3s;
}

.carousel-inner a{
	text-decoration: none;
	color: lightgrey;
	background-color: #fff1;
}

.carousel-inner p:hover{
	color: white;	
}

.carousel-caption{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-caption h1{
	font-size: 500%;
	text-transform: uppercase;
	text-shadow: 1px 1px 10px #000;
}


.carousel-caption p{
	font-size: 90%;
	text-shadow: 1px 1px 10px #000;
}

.btn{
	margin-top: 20px;	
}

.btn-primary{	
	background-color: black;	
	border: 1px solid black;
}

.btn-primary:hover{
	background-color: #1e212d;
	border: 1px solid #1e212d;	
}

.card{
	border: none;
}

.card img{
	width: 110%;
	height: 50%;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}
.card-text{
	text-align: center;
}
.card-title{
	text-align: center;
	font-weight: bold;	
}

.card .btn-primary{
	background-color: transparent;
	border: 1px solid black;	
	border-radius: 20px;
	color: black;
	margin-left: 30%;
}

.card .btn-primary:hover{
	color: white;
	background-color: black;
	border: 1px solid white;
	transition: 0.2s;
}


#fact{
	font-weight: 25px;
	color: #FF7F50;
	background: url("tari.JPEG") repeat fixed 100%;	
	text-shadow: 1px 1px 1px white;
}

#fact:hover{
	color:black;		
	transition: 0.7s;
	text-shadow: 1px 1px 1px grey;	
}

.best .card img{
	border-radius: 200px;
}

.best .card img:hover{	
	transition: 1s;
	transform: scale(1.1);	
}

.team .text-center{
	font-size: 11px;
}

.col-md-3{
	width: 20rem;
	height: 60rem; 
	margin: 0px 20px;
	margin-bottom: -18%;
}

.header .col-md-4 img{		
	min-height: 300px;
}

img .img1{
	min-height: 200px;
	margin-top: 10px;
}

.list-group-flush{
	border-radius: 4px;
}
