*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
	font-family: 'Work Sans', sans-serif;
}

body{
	background: rgba(219,226,226);	
}

#row{
	background: white;
	border-radius: 20px; 
	box-shadow: 12px 12px 22px grey;
}

img{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-left: -12px;
}

.btn1{
	border: none;
	outline: none;
	height: 50px;
	width: 100%;
	background-color: #3090C7;
	color: white;
	border-radius: 4px;
	font-weight: bold;
}

.btn1:hover{
	background: white;
	border: 1px solid #3090C7;
	color: #3090C7;
}
.btn2{
	border: none;
	outline: none;
	height: 50px;
	width: 100%;
	background-color:#fcc200;
	color: black;
	border-radius: 4px;
	font-weight: bold;
}
.btn2:hover{
	background: white;
	border: 1px solid #ffb347;
	color: #ffb347;
}
